---
import { Image } from 'astro:assets';
import logo from '../assets/images/logos/logo-altasmiras-430.png';

interface Props {
    variant?: 'header' | 'footer' | 'dark';
}

const { variant = 'header' } = Astro.props;

const heightClass = variant === 'footer' ? 'h-10' : 'h-12';
---

<a href=”/” class=”inline-block”>
    <Image src={logo} alt=”Altasmiras” class:list={['w-auto object-contain', heightClass]} />
</a>
